/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat-core();

body { margin: 0; }


.mat-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
}