<top-toolbar></top-toolbar>
<div class="tables">
  <mat-card>
    <div class="table-title">
      <h1 class="default-h1">Current trades</h1>
    </div>
    <div class="table-content">

      <table class="example-table">
        <tr>
          <th *ngFor="let column of displayedColumns">
            {{column}}
          </th>
        </tr>

        <tr *ngFor="let row of currentTrades">
          <td>
            {{row.asset}}
          </td>
          <td>
            {{row.free}}
          </td>
        </tr>

      </table>
      <!-- <table [displayedColumns]="['symbol', 'prevClosePrice', 'priceChange', 'priceChangePercent']"></table> -->
      <!-- <table [displayedColumns]="['symbol', 'prevClosePrice', 'priceChange', 'priceChangePercent']" [data]="currentTrades"></table> -->
      <!-- <listing></listing> -->
    </div>
  </mat-card>
</div>