<top-toolbar></top-toolbar>
<div id="orders">
  <mat-tab-group>
    <mat-tab label="Buy">
      <buy></buy>
    </mat-tab>
    <mat-tab label="Sell">
      <sell></sell>
    </mat-tab>
    <mat-tab label="Open orders">
      <open-orders></open-orders>
    </mat-tab>
    <mat-tab label="Funds">
      Total balance here
    </mat-tab>
    <mat-tab label="Order history">
      Order history here
    </mat-tab>
    <mat-tab label="Trade history">
      Trade history here
    </mat-tab>
    <mat-tab label="Test orders">
      <test-order></test-order>
    </mat-tab>
  </mat-tab-group>
</div>