<top-toolbar></top-toolbar>
<div id="orders">
  <mat-tab-group [selectedIndex]="3">
    <mat-tab label="Buy">
      <buy></buy>
    </mat-tab>
    <mat-tab label="Sell">
      <sell></sell>
    </mat-tab>
    <mat-tab label="Open orders">
      <open-orders></open-orders>
    </mat-tab>
    <mat-tab label="Funds">
      <funds></funds>
    </mat-tab>
    <mat-tab label="Order history">
      <order-history></order-history>
    </mat-tab>
    <mat-tab label="Trade history">
      <trade-history></trade-history>
    </mat-tab>
    <mat-tab label="Test orders">
      <test-order></test-order>
    </mat-tab>
  </mat-tab-group>
</div>