<mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{log(row)}}
      <a [routerLink]="['/stock-picker', row.id]">{{row.symbol}}</a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.prevClosePrice}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="change">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Change</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.priceChange}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="changePercent">
    <mat-header-cell *matHeaderCellDef mat-sort-header>% Change</mat-header-cell>
    <mat-cell *matCellDef="let row">{{row.priceChangePercent + ' %'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="recommend">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Recommend</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-chip-list>

        <mat-chip *ngIf="row.recommend === 'buy'" color="primary" selected>
          {{row.recommend | uppercase}}
        </mat-chip>
        <mat-chip *ngIf="row.recommend === 'sell'" color="warn" selected>
          {{row.recommend | uppercase}}
        </mat-chip>
      </mat-chip-list>

    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
    <mat-cell *matCellDef="let actions">
      <button (click)="edit()" name="actions.edit" mat-button mat-icon-button color="orange">
        <mat-icon aria-label="actions.edit">edit</mat-icon>
      </button>
      <button (click)="view()" name="actions.view" mat-button mat-icon-button color="green">
        <mat-icon aria-label="actions.view">settings</mat-icon>
      </button>
      <button (click)="delete()" name="actions.edit" mat-button mat-icon-button color="red">
        <mat-icon aria-label="actions.delete">delete_forever</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator [length]="dataSource.data ? dataSource.data.length : '50'" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator>