<div class="globalSettings-container">
  <form class="globalSettings-form" [formGroup]="globalSettingsForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="column">
        <mat-form-field>
          <mat-select formControlName="baseCoin">
            <mat-option *ngFor="let option of baseCoinOptions" [value]="option.value">
              {{option.viewValue}}
            </mat-option>
          </mat-select>
          <mat-hint align="end">* baseCoin is required</mat-hint>
        </mat-form-field>
      </div>
      <div class="column">
        <coin-suggester (emitSymbol)="symbol" [defaultSymbol]="symbol"></coin-suggester>
      </div>
      <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>RecvWindow value</mat-label>
          <input formControlName="recvWindow" matInput placeholder="Receive Window" type="number">
          <mat-error *ngIf="!globalSettingsForm.hasError('required')">RecvWindow is required</mat-error>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field appearance="outline">
          <mat-label>Bid and ask table limit of prices/volume shown</mat-label>
          <input formControlName="bidAskLimit" matInput placeholder="bidAskLimit" type="number">
          <mat-error *ngIf="!globalSettingsForm.hasError('required')">Bid and Ask table limit is required</mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="form-row">
      <div class="column">
        <button mat-button type="submit">Save</button>
      </div>
    </div>
  </form>

</div>