.default-h1 {
  font-size: 1.5rem;
  display: inline;
  color:#3f51b5;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.tables {
  display: flex;
  .mat-card {
    margin: 1.2rem;
    flex: 1 auto;
  }
  .table-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
}