.buy-container {
  display: flex;
  justify-content: space-evenly;
  .left, .right {
    flex: 1 100%;
  }
  .form-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0;
  }
}

.bids {
  width: 100%;
}