#stock-picker-detail {
    .container {
        // display: flex;
        // flex-flow: column;
        // align-items: flex-start;
        // justify-content: flex-start;
        margin: 3.5rem;
    }
    
    .row-top {
        flex: 1 100%;
    }
    .row-bottom {
        flex: 1 100%;
        // margin-left: 1.2rem;
        .mat-card {
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
        }
    }
}